@charset "utf-8";

/* 초기화 */

/* root 10px */
html { font-size: 62.5%; }

/* 여백초기화 */
* { margin: 0; padding: 0; box-sizing: border-box; }

/* 밑줄 없애기, 글자색 지정 */
a { text-decoration: none; color: inherit; }

/* 불릿기호 없애기 */
ol,ul { list-style: none; }

/* 이미지 line-height 없애기 */
img { vertical-align: middle; }

/* 글자 기울임 없애기 */
address, em { font-style: normal; }

/* 폼요소 초기화 */
button, select, input, textarea { vertical-align: middle; }

/* 표 초기화 */
table { border-collapse: collapse; width: 100%; }


 /* 검색창 테두리없앰 */
fieldset { border: 0; }

legend { display: none; }
